@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* Navbar section */
.navbar {
  width: 100%;
  min-height: 15%;
  padding: 20px;
  overflow: auto;
}
.navbar nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar nav ul li a {
  text-decoration: none;
  font-size: 18px;
}
/* Profile section */
.profile {
  padding: 20px;
  justify-content: space-around;
  display: flex;
}
.img {
  position: relative;
  
  ;
}
.img a {
  position: absolute;
  margin: auto;
  top: 90%;
  left: 30%;
}
.details {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  justify-content: flex-start;
  border: 1px solid #3085b5;
  background-color: #3084b511;
}
.details a {
  font-size: 17px;
}
/* Request Section */
.Request {
  padding: 20px;
  
}
.each {
  display: flex;
  width: 95.5%;
  min-height: 15vh;
  margin-left:25px;
  justify-content: space-around;
  align-items: center;
  
  border: 1px solid #3085b5;
  background-color: #3084b511;
}
.status > :first-child {
  padding: 10px 15px;
  border-radius: 7px;
  letter-spacing: 1px;
  border: none;
  background: yellow;
}
.status > :nth-child(2) {
  padding: 10px 15px;
  border-radius: 7px;
  letter-spacing: 1px;
  border: none;
  background: red;
  color: white;
}
.address {
  padding: 20px;
  display: flex;
  flex-direction: column;
  line-height: 200%;
  width: auto;
}

/* Utilities */
.text-center {
  text-align: center;
}

/*for input file*/
