

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
}
.text-center {
  text-align: center;
}
.search_section {
  padding: 20px;
}
.search_bar {
  padding: 30px;
  display: flex;
  margin: 10px;
  justify-content: center;
  font-size: 20px;
}
.search_bar input {
  padding: 5px 10px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(57, 143, 241);
  border-image: initial;
  outline: none;
}
.btn {
  background-color: rgb(57, 143, 241);
  color: white;
  padding: 8px 15px;
  outline: none;
  margin-left: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 3px;
}



/* thumbnail css--------------------*/

div.gallery {
  margin: 5px;
  
  float: left;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}


div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
