@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.center {
  text-align: center;
}
/*-------------------------------------------Login Page style-------------------------------------- */

/* Main-Container */
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  text-align: center;
}
/* Left-Side-Image */
.image {
  position: relative;
  width: 55%;
  display: flex;
  align-content: center;
  text-align: center;
  height: 100vh;
}
.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Right-Side-Content */
.Content {
  background-color: #e7515b;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
}
.Content h2 {
  border-bottom: 3px solid white;
  color: white;
  margin: 40px 10px;
  padding: 5px;
  letter-spacing: 2px;
}
span {
  color: #e7515b;
  background: white;
  padding: 10px;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
}
input[type="text"],
input[type="password"] {
  background: white;
  color: #e7515b;
  font-size: 15px;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"] {
  padding-left: 30px;
  position: relative;
  width: 50%;
  padding: 15px;
  margin: 10px;
  border-radius: 300px;
  outline: none;
  border: none;
}
.password input[type="password"] {
  width: 50%;
  margin: 10px;
}
.btny input[type="submit"] {
  width: 50%;
  margin: 10px;
  color: #e7515b;
}
.btn input[type="submit"] {
  width: 50%;
  margin: 10px;
  color: #e7515b;
}
input[type="submit"] {
  background-color: white;
  color: #e7515b;
  letter-spacing: 2px;
  font-weight: bolder;
}
input::placeholder {
  font-size: 13px;
  padding-left: 10px;
  letter-spacing: 1px;
  color: grey;
}
input:focus::placeholder {
  color: transparent;
}
.link a {
  color: aliceblue;
  padding-left: 11%;
  margin: 10px;
  letter-spacing: 1.3px;
}
p {
  color: white;
  letter-spacing: 1.3px;
}
.links-2 a {
  padding-left: 7px;
  color: white;
}

/*--------------------------------------------Customer-Registration----------------------------- */

.left {
  position: relative;
  width: 40%;
  display: flex;
  align-content: center;
  text-align: center;
  height: 100vh;
  text-align: center;
}
.left h2 {
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 16%;
  width: 100%;
  height: 30%;
  color: #27debf;
}
.left img {
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 70%;
  object-fit: contain;
}
.right {
  background-color: #27debf;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.right h2 {
  color: white;
  border-bottom: 3px solid white;
  padding: 5px;
  letter-spacing: 1px;
  margin: 40px 10px;
}
.right input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"] {
  color: #27debf;
  margin: 15px;
  padding: 12px;
  width: 30%;
  font-size: 15px;
}
.Username_Pass {
}
.btn-2 input[type="submit"] {
  color: #23c7ac;
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
  letter-spacing: 2px;
}
.btn-2 input[type="submit"]:hover {
  background-color: #262727;
  color: white;
}

/*--------------------------------------- Owner Registration---------------------------------*/
.Owner-right {
  background-color: #49bcdb;
}
.btn-3 input[type="submit"] {
  color: #3085b5;
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
  letter-spacing: 2px;
}
.Left-owner h2 {
  color: #3085b5;
}

/* ---------------------------------------Homepage or Index page---------------------------- */

.wrapper {
  width: 100%;
  height: 100vh;
}
.navbar {
  width: 100%;
  display: inline-flex;
  height: 10%;
}
.nav-items {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-left {
  width: 70%;
  text-align: center;
}
.nav-left a {
  text-decoration: none;
  padding: 5px 30px;
  color: black;
}
.nav-right {
  width: 30%;
}
.btn-Login,
.btn-Signup {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  margin: 10px;
  outline: none;
  border: none;
}
.btn-Login {
  background: #3085b5;
  color: white;
}
.btn-Signup {
  background: #e7515b;
  color: white;
  transition: 0.3s ease;
}
.btn-Signup:hover {
  background: #f0323e;
  color: white;
}
.container {
  height: 90%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
}
.container-content {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.container-content h1 {
  color: #3085b5;
}
.container-content p {
  color: black;
  text-align: left;
  padding-left: 40px;
  margin-top: 20px;
}
.explore-btn {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  margin: 25px;
  outline: none;
  border: none;
  background: #3085b5;
  color: white;
}
.container-image {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
}
/* about us */
section {
  height: 100vh;
}
section h2 {
  height: 10vh;
  text-align: center;
  font-size: 27px;
  letter-spacing: 1px;
  margin-bottom: 3%;
}
.about {
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-left {
  width: 45%;
  height: 75vh;
}
.row-1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-1 {
  text-align: center;
}
.row-1 .img {
  width: 50%;
  height: 100%;
}
.row-1 .text {
  background: #23c7ac7c;
  width: 50%;
  height: 100%;
}
.text h1 {
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 8%;
}

.text p {
  color: black;
  line-height: 30px;
  font-size: 14px;
}
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 75vh;
}
.about-right img {
  border-left: 3px solid red;
  padding: 10px;
}

.about-right p {
  margin-left: 13%;
}
.text-1 {
  width: 100%;
  text-align: center;
}
.text-1 h1 {
  margin-top: 50px;
}
.text-1 p {
  margin-top: 50px;
  text-align: justify;
}
h3 {
  letter-spacing: 2px;
}

/* Services*/

.row-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Cont-1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image-sec {
  width: 40%;
}
.image-sec img {
  width: 60%;
}
.content-sec {
  background-color: #3085b5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 40%;
  height: 90%;
}
.content-sec h1 {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* our team */
.team {
  width: 100%;
  height: 100vh;
}
.wrap {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 90vh;
}
.card {
  background-color: #e7515b;
  box-shadow: 2px 2px 7px 2px #eb555fa6;
  border-radius: 5px;
  text-align: center;
  height: 80%;
  width: 30%;
}
.card img {
  width: 90%;
  height: 50%;
}
.card-content {
  height: 50%;
}
.card-content ul {
  margin-top: 5px;
  text-align: left;
  padding-left: 20%;
}
.card-content ul li {
  letter-spacing: 0.7px;
}
/* button border */
.btn {
  margin-top: 20px;
  padding: 10px 40px;
  letter-spacing: 1px;
}

/* Signup */
.signup-wrapper {
  margin-top: 5vh;
  width: 100%;
  height: 90vh;
}
.signup {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 90%;
}
.card-1,
.card-2 {
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  width: 35%;
  height: 100%;
}
.card-1 {
  background-image: url(images/captain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-2 {
  background-image: url(images/customer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.becomes-bg {
  position: absolute;
  top: 470%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7515b;
  height: 50vh;
  z-index: -1;
}

/* Contact Us */
.row {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 25vh;
}
.logo {
  width: 20%;
  text-align: center;
}
.links {
  width: 50%;
  align-items: center;
}
.links a {
  font-size: 20px;
  margin-top: 50%;
  font-weight: bold;
}
.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}
.icons {
  width: 30%;
}
.icons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 13%;
}
footer {
  width: 100%;
  text-align: center;
}
